.Asked{
    background-color: #dcf0f2;
    padding: 4rem 0;
   
    .accordion{
        margin: 1.5rem 0;
        padding: 1rem;
        animation:all 8s ease-in-out;
        box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
        .accordionheader{
          h2{
            color: #094254;
            font-size: large;
          }
          button{
            border: none;
            box-shadow: none;
            &:focus{
                background-color: inherit;
            }
          }
        }
        .AccordionBody{
            padding: 1.5rem;
            p{
                color: #094254;
                font-size: 1rem;
            }
        }
    }
}