.Navbar {
    padding: 0 2rem;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: #fff;
    a {
        text-transform: capitalize;
        margin-left: 2rem;
        font-size: 14px;
        font-weight: 550;
        cursor: pointer;
        color: black;
        text-transform: capitalize;
        padding-bottom: 1rem;
        &:hover{
            border-bottom: 2px solid #575DFF;
        }
    }
    .NavIcon{
        border: none;
        background-image: none !important;
        color: #fff;
        font-size: 25px;
        color: #fff;
        padding: 10px;
        transition: all .10s ease;
        cursor: pointer;
        &:focus{
            box-shadow: none;
        }
    }
    ul{
        margin-left: auto;
    }
}