.Offer{
    background-color: #fff;
    padding: 3rem 0;
    a{
        border-color: rgb(17,187,223);
        background: rgb(17,187,223);
        color: rgb(0,0,0);
        padding: 1rem 2rem ;
        display: block;
        margin: 1rem 0;
    }
}